@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/*Way to declare variables in css*/

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

* {
    /*This is done so that while sizing elements, it includes padding etc*/
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    /*Main Axis*/
    justify-content: center;
    /*Cross Axis*/
    align-items: center;
    margin: 0;

}

.container {
    background-color: white;
    border-radius: 5px;
    /*X axis, Y axis, blur, colour and alpha*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

#form {
    padding: 30px 40px;
}

h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

.form-content {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-content label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-content input {
    display: block;
    padding: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.form-content input:focus {
    outline: 0;
    border-color: #777;
}

.form-content.success input {
    border-color: var(--success-color);
}

.form-content.error input {
    border-color: var(--error-color);
}

.form-content small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-content.error small {
    visibility: visible;
}

#form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}